*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.menu {
  width: 100%;
  height: 80px;
  background-color: #55BAE5;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
  position: fixed;
}

.logo {
  height: 70px;
  width: 70px;
}

ul {
  padding-right: 50px;
}

.lista-menu {
  display: inline-block;
  color: white;
  font-size: 25px;
  margin-left: 25px;
  list-style: none;
  text-decoration: none;
}

.lista-menu:hover{
  color: #030087;
  font-size: 25px;
}

.folder {
  background-image: url(../img/folder.jpg);
  height: 320px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
}

.titulo{
  width: 100%;
  height: 60px;
  padding: 10px 0 10px 0;
  background-color: #55BAE5;
  text-align: center;
  font-size: 36px;
  color: white;
}

.card_curiosidade{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  list-style: none;
}

.card{
  width: 300px;
  display: flex;
  padding-bottom: 80px;
  display: inline-block;
  color: white;
  font-size: 25px;
  margin-left: 25px;

}

.card:hover {
  padding-bottom: 0;
  border: 4px solid #55BAE5;
  border-radius: 20px;
}

.video {
  display: flex;
  justify-content: center;
  padding: 20px 0 80px 0;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #55BAE5;
  color: white;
  padding: 10px 15px;
}

svg {
  fill: white;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

svg:hover {
  fill: #030087;
}

.footer {  width: 100%;
  height: 80px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.redes-sociais {
  padding-left: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}